body {
    font-family: 'Comic Sans MS', Vernanda, Tahoma, Aerial;
    background: #e6e6ff;
}
h1 {
    color:black; 
    text-align: center;
    text-shadow: 2px 2px #6699ff;
    font-size: 52px;

}

a {
    text-align: left;
  text-decoration: underline;
  font-weight: none;
}
a:hover{
    font-weight: bold;
}
a:visited{
    text-decoration: none;
    color: black;
}

div {
    text-align: center;

}
#menuLeft{
    position: fixed;
    top: 225px;  
    left: 200px;

} 

#menuRight{
    position: fixed;
    top: 225px;  
    right: 200px;
}
table{
    text-align: center;
}
